.desktop-only {
  display: none;
}

main {
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows:
    83px /* coming-soon */ 7.5px
    111px /* logo */ 20.9px
    118px /* possible */ 24.8px
    71px /* meet-us */ 20.9px
    39px /* book a meeting */ 43px
    392px; /* video */
}

.coming-soon {
  grid-row: 1 / 2;
}

.adte-logo {
  grid-row: 3 / 4;
}

.possible-badge {
  grid-row: 5 / 6;
}

.meet-us {
  grid-row: 7 / 8;
}

.book-a-meeting {
  grid-row: 9 / 10;
}

.video-wrapper {
  grid-row: 11 / 12;
  position: relative;
  overflow: hidden;
}

.video-wrapper img {
  max-height: none;
  max-width: 271px;
}

.video-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(calc(-50% - 1px));
  width: 161px;
  overflow: hidden;
}

video {
  position: relative;
  height: 97px;
  left: 50%;
  transform: translateX(-50%);
}
