.desktop-only {
  display: none;
}

main {
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows:
    90px /* coming-soon */
    113px /* logo */ 13.8px
    21.5px /* stream-your-brand */ 33.7px
    118px /* possible */ 24.8px
    71px /* meet-us */ 20.9px
    39px /* book a meeting */ 43px
    392px; /* video */
}

.coming-soon {
  grid-row: 1 / 2;
}

.coming-soon img {
  transform: translateX(50%);
}

.adte-logo {
  grid-row: 2 / 3;
}

.stream-your-brand {
  grid-row: 4 / 5;
}

.possible-badge {
  grid-row: 6 / 7;
}

.meet-us {
  grid-row: 8 / 9;
}

.book-a-meeting {
  grid-row: 10 / 11;
}

.video-wrapper {
  grid-row: 12 / 13;
  position: relative;
  overflow: hidden;
}

.video-wrapper img {
  max-height: none;
  max-width: 271px;
}

.video-container {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(calc(-50% + -0.5px));
  width: 150px;
  overflow: hidden;
}

video {
  position: relative;
  height: 97px;
  left: 50%;
  transform: translateX(-50%);
}
